*{
    margin: 0;
    padding: 0;
}


section {
    display: flex;
    background-color: grey;
    border: solid 1px red;
    flex-wrap:wrap;
}

nav {
    width: 100%;
    height: 75px;
    background-color: orange;
}

main {

    width: 60%;
    background-color: lime;

}

aside {
    width: 40%;
    background-color: blue;
}

.deux nav {
 height: 50px;
}

.deux aside {
    height: 100px;
}

.deux main {
    height: 100px;
}

.quatre aside {
    order: 2;
}

.quatre main {
    order: 1;
}

.un main {
    height: 150px;
}

.un aside {

    height: 75px;
}

.trois main {
    height: 150px;
    order: 1;
}

.trois aside {
    order: 2;
    height: 75px;
}
